body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3 {
  font-family: "Passion One";
}

p {
  color: #8f8f8f;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

.colored-section {
  background-color: #FF4C68;
  color: white;
}

.white-section {
  background-color: #fff;
}

/* Heading */

.title-heading {
  font-size: 4rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 4rem;
  font-weight: lighter;
}

/* Navigation Bar */

.navbar {
  padding:0 0 4.5rem;
}

.nav-item {
  padding: 0 18px 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title image */

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

@media (max-width:1028px) {
  #title{
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}

/* Features */

#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bolder;
}

.feature-box {
  padding: 5%;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #FF4C68;
}

/* Testimonials */

#testimonials {
  background-color: #ef8172;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 4rem;
  font-weight: lighter;
}

/* Press */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-img{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
  padding: 100px;
}

.pricing-title {
  font-size: 1.5rem;
  font-weight: bolder;
}

.pricing-col {
  padding: 3% 2%;
}

.price-text {
  font-size: 4rem;
  font-weight: lighter;
}

/* Footer */

.footer-icons {
  margin: 20px 10px;
}
